<a href="https://colab.research.google.com/github/Putra1703/putra.github.io/blob/main/Praktikum1StrukturData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
list1 = ['kimia','fisika',1993,2017]
list2 = [1,2,3,4,5,6,7]
list3 = ["a","b","c"]
#melihat data list index2
print("nilai pada list1 index [2] : " ,list1[2])
list1[2]=2024
print("nilai pada list1 index [2] : " ,list1[2])
print(list1)
#hapus data
del list1[2]
print("nilai baru ada pada index 2 : " , list1[2])
print(list1)
print("list2[1:5]) : " ,list2[1:5])
print(list3)

nilai pada list1 index [2] :  1993
nilai pada list1 index [2] :  2024
['kimia', 'fisika', 2024, 2017]
nilai baru ada pada index 2 :  2017
['kimia', 'fisika', 2017]
list2[1:5]) :  [2, 3, 4, 5]
['a', 'b', 'c']

In [5]:
myName="Informatika"
print(myName[2])
print(myName*2)
len(myName)

f
InformatikaInformatika

11

In [7]:
print(myName.upper())
print(myName.center(105))
print(myName.find('m'))
print(myName.split('m'))

INFORMATIKA
                                               Informatika
5
['Infor', 'atika']

In [9]:
tup1=('fisika','kimia',1993,2017)
#Change 'B' to a value or a previously defined variable.
#Assuming 'B' should be a string, use 'B' instead of B
tup2=(1,2,'B',4,5)
tup3="a","b","c","d"
#Change 'true' to 'True' as it is a boolean keyword in Python.
tup4=(2,True,3.14)
print("tup1[0] : ", tup1[0])
print("tup2[1:3] :", tup2[1:3])
del tup3
print(tup2)
len(tup4)
print(tup4[1])
print(tup4*2)
print(tup4)

tup1[0] :  fisika
tup2[1:3] : (2, 'B')
(1, 2, 'B', 4, 5)
True
(2, True, 3.14, 2, True, 3.14)
(2, True, 3.14)