<a href="https://colab.research.google.com/github/Putra1703/putra.github.io/blob/main/QuizAi_G211230110.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

# Data mahasiswa
data = {
    'Nama Mahasiswa': ["Roy", "Sintia", "Iqbal", "Dilan", "Ratna", "Merry", "Rudi", "Hafiz", "Gede",
                       "Christian", "Justin", "Jesika", "Ayu", "Siska", "Reitama"],
    'UTS': [89, 90, 70, 45, 65, 80, 90, 70, 96, 60, 45, 60, 85, 52, 40],
    'Tugas': [90, 71, 75, 65, 75, 70, 85, 70, 93, 55, 60, 70, 90, 68, 60],
    'UAS': [75, 95, 80, 59, 53, 75, 81, 73, 85, 48, 58, 72, 88, 55, 70]
}

#mengkonversi ke data frame
df = pd.DataFrame(data)

#membuat kmeans dengan 3 kluster
X = df[['UTS', 'Tugas', 'UAS']]

kmeans = KMeans(n_clusters=3, random_state=0)
kmeans.fit(X)

df['Cluster'] = kmeans.labels_

#hitung nilai sse
sse = kmeans.inertia_

df, sse

(   Nama Mahasiswa  UTS  Tugas  UAS  Cluster
 0             Roy   89     90   75        0
 1          Sintia   90     71   95        0
 2           Iqbal   70     75   80        1
 3           Dilan   45     65   59        2
 4           Ratna   65     75   53        1
 5           Merry   80     70   75        1
 6            Rudi   90     85   81        0
 7           Hafiz   70     70   73        1
 8            Gede   96     93   85        0
 9       Christian   60     55   48        2
 10         Justin   45     60   58        2
 11         Jesika   60     70   72        1
 12            Ayu   85     90   88        0
 13          Siska   52     68   55        2
 14        Reitama   40     60   70        2,
 1865.1999999999996)